MONGO_DB_PASSWORD=FILL_HERE
MONGO_DB_USERNAME=FILL_HERE
OPENAI_API_KEY=FILL_HERE
MONGO_DB_URI=mongodb+srv://FILL_HERE:FILL_HERE@some.cluster.mongodb.net
MONGO_DB_DB_NAME=yuyabre-core-db
OPENAI_PROXY_URL=FILL_HERE

DISCORD_BOT_TOKEN=FILL_HERE

SPLITWISE_CONSUMER_KEY=FILL_HERE
SPLITWISE_CONSUMER_SECRET=FILL_HERE
SPLITWISE_API_KEY=FILL_HERE